{% extends "base.html" %}{% load static %}

{% block title %} Relat&oacute;rio de Infraç&otilde;es {% endblock %}

{% block home %}item {% endblock %}
{% block cadastros %}item {% endblock %}
{% block relatorios %}item active{% endblock %}
{% block sobre %}item {% endblock %}
{% block op1 %} item {% endblock %}
{% block op2 %} item {% endblock %}

{% block result %}
<div class='ui grid relatorio'>
    <div class='centered row'>
        <div class='ten wide column'>
            <!--<a id="print" class="ui circular ui icon button right floated" href='javascript:window.print()'-->
               <!--rel="nofollow"-->
               <!--target="_blank">-->
                <!--<i class="fa fa-print"></i>-->
                <!--Imprimir-->
            <!--</a>-->

            <!--<h2 class="ui header">-->
                <!--<i class="browser icon"></i>-->
                <!--<div class="content">-->
                    <!--Detalhes Infração-->
                    <!--<div class="sub header">Visualizaçao do auto de infraçao.</div>-->
                <!--</div>-->
            <!--</h2>-->

            <div class="ui segments">
                <div class="ui secondary cabecalho segment">
                    <img src="{% static 'images/joinville.png' %}" class="ui left floated image" />

                    <h3 class="ui center aligned header">
                        PREFEITURA DE JOINVILLE<br />
                        DEPARTAMENTO DE TRÂNSITO DE JOINVILLE - DETRANS
                        <div class="sub header">
                            Portaria 160/99 - Denatran
                            Lei Complementar 378/12 e 418/04
                        </div>
                    </h3>

                    <h1 class="ui center aligned header">
                        AUTO DE INFRAÇÃO DE TRÂNSITO
                        <div class="sub header">
                            Talonário Eletrônico
                        </div>
                    </h1>
                </div>
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <div class="content">
                            1. DETALHES DO AUTO DE INFRAÇÃO
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui divided list">
                        <div class="item">
                            <strong>Nº do Bloco:</strong>
                            {{infracao.id}}
                        </div>
                        <div class="item">
                            <strong>Código do Órgão Autuador:</strong>
                            212321321321teste
                        </div>
                    </div>
                </div>

                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <div class="content">
                            2. IDENTIFICAÇÃO DO VEÍCULO
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui divided list">
                        <div class="item">
                            <strong>Placa:</strong>
                            {{infracao.veiculo.placa}}
                        </div>
                        <div class="item">
                            <strong>Marca/Modelo:</strong>
                            {{infracao.veiculo.modelo.descricao|title}}
                        </div>
                        <div class="item">
                            <strong>Espécie:</strong>
                            {{infracao.veiculo.especie.descricao|title}}
                        </div>
                        <div class="item">
                            <strong>Tipo:</strong>
                            {{infracao.veiculo.tipo_veiculo.descricao|title}}
                        </div>
                        <div class="item">
                            <strong>Categoria:</strong>
                            {{infracao.veiculo.categoria.descricao|title}}
                        </div>
                        <div class="item">
                            <strong>Cidade / UF:</strong>
                            {{infracao.veiculo.cidade.nome|title}} / {{infracao.veiculo.cidade.uf.sigla}}
                        </div>
                    </div>
                </div>
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <div class="content">
                            3. IDENTIFICAÇÃO DO LOCAL DA INFRAÇÃO
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui divided list">
                        <div class="item">
                            <strong>Local da Infração:</strong>
                            {{infracao.local}}, Nº {{infracao.local_numero}}
                        </div>
                        <div class="item">
                            <strong>Data:</strong>
                            {{infracao.data_infracao|date:"d/m/Y"}}
                        </div>
                        <div class="item">
                            <strong>Hora:</strong>
                            {{infracao.data_infracao|date:"H:i"}}
                        </div>
                    </div>
                </div>
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <div class="content">
                            4. TIPIFICAÇÃO DA INFRAÇÃO
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui divided list">
                        <div class="item">
                            <strong>Código:</strong>
                            {{infracao.tipo_infracao.codigo}}
                        </div>
                        <div class="item">
                            <strong>Descrição da Infração:</strong>
                            {{infracao.tipo_infracao.descricao}}
                        </div>
                    </div>
                </div>
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <div class="content">
                            5. IDENTIFICAÇÃO DO AGENTE AUTUADOR
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui divided list">
                        <div class="item">
                            <strong>Matrícula:</strong>
                            {{infracao.agente.id}}
                        </div>
                        <div class="item">
                            <strong>Assinatura:</strong>
                            {{infracao.agente.first_name|title}} {{infracao.agente.last_name|title}}
                        </div>
                    </div>
                </div>
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <div class="content">
                           6. IDENTIFICAÇÃO DO CONDUTOR
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui divided list">
                        <div class="item">
                            <strong>Nome:</strong>
                            {{infracao.infrator.nome|title}}
                        </div>
                        <div class="item">
                            <strong>CNH / PPD:</strong>
                            {{infracao.infrator.cnh}}
                        </div>
                        <div class="item">
                            <strong>RG / CPF:</strong>
                            {{infracao.infrator.documento}}
                        </div>
                        <div class="item">
                            <strong>Assinatura:</strong>

                        </div>
                    </div>
                </div>

                {% if infracao.obs %}
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <div class="content">
                            7. OBSERVAÇÃO
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui divided list">
                        <div class="item">
                            <strong>Observação:</strong>
                            {{infracao.obs}}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if imagens %}
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <div class="content">
                            9. ANEXO
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui medium images anexo">
                        {% for img in imagens %}
                        <img src="/{{img.photo}}">
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            <a href='..'>
                <button type="button" class="ui cancel red button">Cancelar</button>
            </a>
            <a href='javascript:window.print()' rel="nofollow"
               target="_blank">
                <button type="button" class="ui verde button">Imprimir</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}