header, footer#footer.ui.stackable.grid, a#print.ui.circular.icon.button.right.floated,
a > button.ui.cancel.red.button, a > button.ui.verde.button, h2.ui.header {
    display: none !important;
}

div.ui.segments{
    display: block !important;
}

.ui.grid > .column:not(.row), .ui.grid > .row > .column {
    font-size: 0.5rem !important;
}

.cabecalho img{
    height: 100px!important;
    width: 100px!important;
}

.cabecalho h3{
    font-size: 100%!important;
}

.cabecalho h1{
    font-size: 170%!important;
    margin-top: 0px!important;
}

.cabecalho .sub.header{
    font-size: 90%!important;
}

.header{
    font-size: 175%!important;
    /*
    border: 1px solid #000!important;
    padding: 0px 5px!important;
    */
}