{% extends "base.html" %}

{% block title %} Relat&oacute;rio de Categorias {% endblock %}

{% block home %}item {% endblock %}
{% block cadastros %}item {% endblock %}
{% block relatorios %}item active{% endblock %}
{% block sobre %}item {% endblock %}
{% block op1 %} item {% endblock %}
{% block op2 %} item {% endblock %}

{% block result %}
<div class='ui grid relatorio'>
    <div class='row'>
        <div class='three wide column'>
        </div>
        <div class='ten wide column'>
            <h2 class='ui header'>
                <i class="book icon"></i>Relat&oacute;rio de Categorias

            </h2>

            <div class="ui fluid form">
                <form method="POST" action="{% url 'categoria-consulta' %}">
                    {% csrf_token %}
                    <div class='field'>
                        <label>Busca</label>
                        <input type="text" name="procurar"/>
                    </div>

                    <button type="submit" class="ui verde button">Consultar</button>
                </form>

                <table class="ui table">
                    <thead>
                    <tr>
                        <th>C&oacute;digo</th>
                        <th>Descriç&atilde;o</th>
                        <th>Editar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <td> {{ categoria.codigo }}</td>
                        <td> {{ categoria.descricao }}</td>
                        <td><a href="{% url 'cad-categoria' categoria.codigo %}"><i
                                class='icon configure'></i>Editar</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "partials/paginacao.html" with lista=categorias procurar=procurar %}
            </div>
        </div>
    </div>
</div>

{% endblock %}